__pycache__/main.cpython-312.pyc
app/routers/__pycache__/__init__.cpython-310.pyc
app/routers/__pycache__/upload.cpython-310.pyc
app/routers/__pycache__/__init__.cpython-312.pyc
app/routers/__pycache__/upload.cpython-312.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-312.pyc
app/__pycache__/main.cpython-310.pyc
app/__pycache__/main.cpython-312.pyc
